body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  max-width: 1440px;
  min-width: 1024px;
  margin: auto;
  width: 1200px;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.link {
  color: #1cadd1;
  text-decoration: none;
  cursor: pointer;
  margin: 0 2px;
}

.link:hover {
  text-decoration: underline;
}

/* NAV Section START */
nav {
  top: 6em;
  position: relative;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 1px 0.2px #3a3939;
  width: 65%;
  background: #555;
  background: linear-gradient(#777, #666, #555, #666, #777);
  font-size: 12px;
}

div.search-box {
  position: relative;
}

.fa-search {
  color: white;
  position: absolute;
  left: 1em;
  bottom: 0.5em;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#search-input {
  background: #555;
  background: linear-gradient(#666, #555, #666);
  width: 120px;
  height: 22px;
  border-radius: 12px;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.758);
  border-bottom: 0.5px solid #9c9b9b;
  transition: width 0.3s ease-in-out;
  margin: 0;
}

#search-input:focus {
  background: #fff;
  background: linear-gradient(#fff, #fff);
  width: 200px;
  outline: none;
  border-radius: 12px;
  border: 1px solid transparent;
}

.fa-apple.logo {
  font-size: 15px;
}

.nav-item {
  width: 100%;
  height: 100%;
  border-right: 1px solid #666;
  text-align: center;
  font-size: 12px;
  line-height: 2;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.nav-item:not(:last-child):hover {
  background: #333;
  border: 0;
}

ul li.nav-item:last-child {
  padding: 3px 10px;
}

/* NAV Section END */

/* Main Section START */

main {
  background: url(../images/center_image.jpg) 20% 50% no-repeat;
  background-position: bottom;
  background-size: cover;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 77vh;
}

main nav + div {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", sans-serif;
  text-align: center;
  width: 50%;
  position: relative;
  color: #fff;
  top: 4em;
}

main div h1:first-child {
  font-size: 3em;
  font-weight: 100;
}

main div * {
  margin-top: 1em;
}

main div p {
  font-size: 1.5em;
  line-height: 1.5;
  color: transparent;
  font-weight: 200;
  text-shadow: 0 0 1.1px #fff;
}

main div p:last-child {
  font-size: 1.5em;
}

main div p:last-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Main Section END */

/* Aside Section START */

aside {
  display: flex;
  height: 25vh;
}

.thumbnail {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border: 2px solid white;
  background-size: cover;
}

aside .thumbnail:first-child {
  border-left: none;
}

aside .thumbnail:last-child {
  border-right: none;
}

.thumbnail.thumbnail-iphone5s {
  background-image: url("../images/apple5.jpg");
}

.thumbnail.thumbnail-iphone5c {
  background-image: url("../images/iphone5c.jpg");
}

.thumbnail.thumbnail-aniversary {
  background-image: url("../images/apple_30_years.jpg");
}

.thumbnail.thumbnail-responsibility {
  background-image: url("../images/apple_supplier_responsibility.jpg");
}

/* Aside Section END */

/* Footer Section START */

footer {
  margin-top: 10px;
  color: #6e6e6e;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 10vh;
  font-size: 10px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
}

footer div:first-child {
  line-height: 2.5em;
}

.link-container ul li {
  display: inline-block;
}

.link-container ul li:last-child {
  background-image: url("../images/usa.png");
  background-repeat: no-repeat;
  height: 16px;
  padding-left: 16px;
  vertical-align: middle;
}

li.border-left {
  border-left: 1px solid;
  padding-left: 5px;
}

/* Footer Section END */
